[Desktop Entry]
Name=oxhidifi
Comment=A music player tailored for audiophiles, focusing on detailed collection data visualization.
Exec=oxhidifi
Icon=oxhidifi
Terminal=false
Type=Application
Categories=AudioVideo;Player;Music;
